.theme__toggle {
	position: relative;
	background-color: hsl(48,90%,85%);
	border-radius: 25% / 50%;
	box-shadow: 0 0 0 0.125em var(--primaryT);
	padding: 0.25em;
	width: 3.5em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
    cursor: pointer;
	transition:
		background-color 0.3s ease-in-out,
		box-shadow 0.15s ease-in-out,
		transform 0.3s ease-in-out;
    font-family: 'Font Awesome 6 Free';
}
.theme__toggle:before {
    display: block;
	position: absolute;
	top: 50%;
	left: 0.75em;
	transform: translate(-50%, -50%);
	content: "\f185";
    text-align: center;
	transition:
		background-color 0.3s ease-in-out,
		transform 0.3s ease-in-out;
}
.theme__toggle:focus {
	box-shadow: 0 0 0 0.125em var(--primary);
	outline: transparent;
}

/* Checked */
.theme__toggle:checked {
	background-color: hsl(198,90%,15%);
}
.theme__toggle:checked:before,
.theme__toggle:checked ~ .theme__icon {
    content: "\f186";
	transform: translate(1.75em, -50%);
}
.theme__toggle:checked:before {
	/* background-color: hsl(198,90%,55%); */
}

@supports selector(:focus-visible) {
	.theme__toggle:focus {
		box-shadow: 0 0 0 0.125em var(--primaryT);
	}
	.theme__toggle:focus-visible {
		box-shadow: 0 0 0 0.125em var(--primary);
	}
}