.messages {
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.message-text {
    --chat-bg-color: #e1ffc7;
    background-color: var(--chat-bg-color);
}
[data-bs-theme='dark'] .message-text {
    --chat-bg-color: #030303;
}
.chat-message-left .message-text {
    border-radius: 0 5px 5px 5px;
}
.chat-message-right .message-text {
    border-radius: 5px 0px 5px 5px;
}
.message-text::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.chat-message-left .message-text::after{
    border-width: 0px 10px 10px 0;
    border-color: transparent var(--chat-bg-color) transparent transparent;
    left: -10px;
}
.chat-message-right .message-text::after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent var(--chat-bg-color);
    right: -10px;
}
