@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

:root {
  --primary-color: #5d3fd3;
  --primary-color-500: #ac91e9;
  --primary-color-600: #BEA7ED;
  --app-body-color: #16121E;
  --mixed-200: #2b2833;
  --bs-body-color: #020202!important;
  --bs-body-bg: snow!important;
}
[data-bs-theme="dark"] {
  --bs-body-color: snow!important;
  --bs-body-bg: #2b2833!important;
}

.navbar-offset {
  padding-top: 56px!important;
}
.navbar-offset > div:first-child {
  padding-bottom: 40px;
}

[data-bs-theme="dark"] .card {
  --bs-card-bg: var(--mixed-200)!important;
  --bs-card-title-color: snow!important;
  --bs-card-color: #9b98a1!important;
}